
body{
    display: inline-block;
    background-color: #646F58;
    background-position:left;
    font-size: 12pt;
    margin: 125px;
    text-align: center;
}

p {
    text-align: ;
    font-weight: bold;
    display: inline-block;
    font-size: 1em;
    margin: 1em 15em ;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
    color: #26231B;
    font-family: "Quicksand",sans-serif;
    font-size: 4em;
}

h2 {
    font-weight: 600;
    text-decoration: underline;
    color: #26231B;
    font-family: "Quicksand",sans-serif;
    font-size: 2.25em;
}

h3 {
    font-weight: 450;
    text-decoration: underline;
    color: #26231B;
    font-family: "Quicksand",sans-serif;
    font-size: 1.75em;
}


ul,li{
    font-family: 'Yanone Kaffeesatz',sans-serif;
    font-size: 25px;
}

li {
}

ul {
    text-align: left;
    list-style-position: ;
    display: inline-block;
    list-style-type: none;
}

a:link{
    color:#1F5673; 
    background-color:transparent; 
    text-decoration:none
}

a:visited {
    color:#808080; 
    background-color:transparent; 
    text-decoration:underline;
}

a:hover   {
    color:#FFFFFF; 
    background-color:transparent; 
    text-decoration:underline;

}
a:active  {
    color:#FFFFFF; 
    background-color:transparent; 
    text-decoration:underline;
    
}
