<!DOCTYPE html>

<html>
  
  <link rel="stylesheet" type="text/css" href="/static/styling.css"> <!--link to the css styleshet -->
  <link href='http://fonts.googleapis.com/css?family=Abel|Arvo:400,700,400italic|Poiret+One|Quicksand:400,700|Gudea:400,700|Montserrat+Alternates:400,700|Lobster|Yanone+Kaffeesatz:400,700|Cuprum:400,400italic,700' rel='stylesheet' type='text/css'> <!-- link to fonts -->
  <head><link rel="shortcut icon" href="http://127.0.0.1:5000/static/pokeball.ico" type="favicon/ico">
    <title> {{ GROVYLE }} </title>
    <style>body{background-color: gray;background-repeat: no-repeat;background-position:left;}</style> 
    <style>p{margin: 20px 300px;}</style>
    <style>table, td, th{border: 1px solid black;}</style>
    <style>table{background-color: black;}</style>
    <style>td{background-color: white;}</style>
    <style>th{background-color: white;}</style>

  </head>

  <body>
    <p class="titles">
      <b><u><center>Job Occupations Data</center></u></b>
      <br>
    </p>
    <center>
      <font face="Tahoma" size="5px" color="black">
      <b><center>Here are the percentages of the population for jobs that you can potentially take.</center></u></b>
      <br>
      <br>
      </font>
    </center>
    <table border = "3" align = "center" cellpadding = "10"     cellborder = "10" style = "width:50%">
      <tr>
	<td class="header">
	  <b><font face="Verdana" size="3px">Job Class</font></b>
	</td>
	<td class="header">
	  <b><font face="Verdana" size="3px">Percentage</font></b>
	</td>
      </tr>
      {% for key, value in fool.iteritems() %}
      <tr>
        <td><font face="Tahoma"> {{ key }} </font></td>
        <td><font face="Tahoma"> {{ value }} </font> </td>
      </tr>
      {% endfor %}
    </table>
    <br>
    <br>
    <center>
      <font face="Tahoma" size="4px" color="black">
	<u>
	  <b>Randomly Generated Job Based on Percentages:</b>
	</u>
	<b> {{ SCEPTILE }}</b>
      </font>
      <br>
      <font face="Tahoma" size="4px" color="black">
	<u>
	  <b><a href="http://127.0.0.1:5000/">back</a></b>
	</u>
      </font>
    </center>
     <br>
     <br>
     <br>
  </body>

</html>
