<!--NAME OF GOOGLE FONTS USED
font-family: 'Abel', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Gudea', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Cuprum', sans-serif;-->
<html>
<link rel="stylesheet" type="text/css" href="static/styling.css">
<link href='http://fonts.googleapis.com/css?family=Abel|Arvo:400,700,400italic|Poiret+One|Quicksand:400,700|Gudea:400,700|Montserrat+Alternates:400,700|Lobster|Yanone+Kaffeesatz:400,700|Cuprum:400,400italic,700' rel='stylesheet' type='text/css'>
<style>
</style>
<title> {{ TITLE }} </title>
<center>
<br>
<br>
<br>
<br>
<br>
<p class="titles">
<font size="7px">

{{ SCEPTILE }}  

</p>
</center>
<center>
<form name="input" method="POST" action="http://127.0.0.1:5000">
<button form_id="back" class="login" type="submit" value = "back" name="back">Go Back</button>
</form>
</center>
</html>

